:root{
    --ball-color: black;
    --ball-color-light: gray;
}

.bubble {
    display: inline-block;
    border: 1px solid;
    border-color: var(--ball-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.bubble:hover {
    background-color: var(--ball-color-light);
    cursor: pointer;
}

.clicked {
    background-color: var(--ball-color);
}