:root {
    --ball-color: black;
    --ball-color-light: rgb(48, 48, 48);
    --ball-width: 25px;
}

.bubble {
    display: inline-block;
    border: 1px solid;
    border-color: var(--ball-color);
    border-radius: 50%;
    width: var(--ball-width);
    height: var(--ball-width);
}

.anchor-wrapper {
    margin-top: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked {
    background-color: var(--ball-color);
}

.clickable.not-clicked {
    background-color: gold;
}

.clickable:hover {
    background-color: var(--ball-color-light);
    cursor: pointer;
}

.not-clickable.clicked {
    --anchorColor: white;
}